# Secrets
.env
.env.*

# Dependencies
node_modules/

# Production Build
dist/
build/

# Design Files (PSD/References)
design_figma/

# Logs & OS
*.log
.DS_Store
.vscode/
.idea/

# Docker Local Data
.docker/